html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#home {
  height: 120vh;
  background-image: url("./Images/bii.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 3px;
  margin-right: 3px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  overflow: hidden;
  background-color: #5361ff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar .nav-right {
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 300;
}

li a:hover {
  color: white;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  border: none;
}
h2 {
  line-height: 1;
  text-align: center;
  font-weight: bolder;
  color: white;
}

h3 {
  position: relative;
  font-family: calibri;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}
#form {
  padding: 20px;
  background-color: grey;
  margin-left: 3px;
  margin-right: 3px;
}
.formbody {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}

#programs {
  padding: 10px;
  height: auto;
  background-color: grey;
  margin-left: 3px;
  margin-right: 3px;
}

#testimonials {
  background-color: #343434;
  margin-left: 3px;
  margin-right: 3px;
}

.typewriter {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.programCards {
  min-height: 680px;
}
@media screen and (max-width: 600px) {
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    overflow: hidden;
    background-color: #5361ff;
    top: 0;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 300;
  }

  .content-wrap h2 {
    font-size: 15px;
    font-style: bold;
  }

  .content-wrap h3 {
    font-size: 13px;
    font-style: bold;
    color: green;
  }

  #home {
    height: 100vh;
    background-image: url("./Images/bii.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 3px;
    margin-right: 3px;
  }
}
